<h1>セットリストを追加</h1>

<div class="setlist-form show-card">
  <%= form_with(model: @board, url: update_setlist_board_path(@board), local: true, method: :patch) do |form| %>
    <div class="field">
      <%= form.label :setlist, "セットリスト (各曲を改行で入力)" %>
      <%= form.text_area :setlist, style: 'height: 400px;' %>
    </div>
    <div class="actions">
      <%= form.submit "セットリストを更新", class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>

<%= link_to '戻る', board_path(@board), class: 'btn btn-secondary' %>
