<h1><%= @board.name %></h1>

<p><strong>アーティスト名:</strong> <%= @board.artist %></p>
<p><strong>会場名:</strong> <%= @board.venue %></p>
<p><strong>開催日時:</strong> <%= @board.date_and_time.strftime("%Y-%m-%d %H:%M") %></p>
<p><strong>開場時間:</strong> <%= @board.date_and_time.strftime("%H:%M") %></p>
<p><strong>開演時間:</strong> <%= @board.date_and_time.strftime("%H:%M") %></p>
